.navbar {
    background-color: wheat;
}

a {
    display: inline-block;
    color: var(--color-main);
    text-decoration: none;
}

.posts {
    display: inline-block;
    color: var(--color-main);
    text-decoration:solid ;
}

.entry-edit {
    border-top: rgba(0, 0, 0, 0.1);
    display: inline;
    background-color: aquamarine;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.post-list {
    background-color: whitesmoke;
}
